body {
	background-image: url("../media/images/image.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.description {
	text-align: justify;
}

#heading {
	font-size: 25px !important;
	font-weight: 600;
}

#username {
	background: #162447 !important;
}

#logout {
	background: #F32424 !important;
}