body {
	background-image: url("../media/images/image.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.description {
	text-align: justify;
}

#heading {
	font-size: 25px !important;
	font-weight: 600;
}

#username {
	background: #162447 !important;
}

#logout {
	background: #F32424 !important;
}

#viewnotes-heading {
	color: #FF0000 !important;
	font-size: 40px !important; 
	font-weight: 700 !important;
	text-shadow: 2px 1px #000;
	word-spacing: 3px;
}

#read {
	background: #7A1CAC !important;
	border: none;
}

#edit {
	background: #347928 !important;
	border: none;
}

#remove {
	background: #F32424 !important;
	border: none;
}